/* Main Page style */
body {
    background-color: #DDA0DD;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Main heading */
h1 {
    color: #2c3e50;
}

/* Group container */
.group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

/* Member card */
.member {
    background-color: #E6E6FA;
    border-radius: 30px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

/* Member images */
.member img {
    width: 200px;
    border-radius: 30px;
}

/* Member name */
.member h2 {
    color: #34495e;
    font-size: 18px;
}

/* Link style */
a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}
